<br>
<div class="w3-row">
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-red'>-10</span>
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-red'>-5</span>
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-red'>-1</span>
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-light-green'>+1</span>
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-light-green'>+5</span>
  <span class='w3-col s2 w3-button plus-minus w3-card w3-padding-large w3-border w3-light-green'>+10</span>
</div>
<br>
