<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>Leaderboard</h1></th>
  </tr>

  <tr>
    <%= render 'static/leaderboard/nav'  %>
  </tr>

  <% @counters.each do |counter| %>
    <tr>
      <th colspan="2"><h2><%= counter.title %></h2></th>
    </tr>

    <tr>
      <th>Name</th>
      <th>Grand Total</th>
    </tr>

    <%= render partial: 'static/leaderboard/top_users', locals: {users: counter.users_by_grand_total, counter: counter, period: 'grand'} %>
  <% end %>
  
</table>
