
<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>Leaderboard</h1></th>
  </tr>
  <% Counter.all.each do |counter| %>
  <tr>
    <th colspan="2"><h2><%= counter.title %></h2></th>
  </tr>

    <% User.all.each do |user| %>

    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.grand_total(counter) %></td>
    </tr>

    <% end %>

  <% end %>
</table>
